.Header_wrap{
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding: 30px 10px;
    background-color: #d3d3d3;
}

.Header_title{
    > .Sub_title{
        font-size: 12px;
    }
    > .Main_title{
        font-size: 18px;
    }
}

.Search_area{
    display: flex;
    float: right;
    width: 320px;
    margin: 0 10px;
    background-color: #fff;
    .Search_form{
        background-color: #fff;
        width: 280px;
        line-height: 33px;
        height: 33px;
    }
    .Search_submit{
        width: 40px;
    }
}