.Navigation_wrap{
    display: flex;
    flex-flow: column;
    padding: 30px;
    width: 35%;
    .Search_area{
        width: 100%;
    }
    .Navigation_area{
        .List{
            padding: 5px 8px;
        }
        .List:hover{
            background-color: #ddffb8;
            color: #696969;
            border-radius: 8px;
        }
        .Home_list{
            margin: 20px 0;
        }
        .Food_list{
            margin: 0;
        }
    }
}