.Navigation_wrap{
    display: flex;
    flex-flow: column;
    padding: 30px;
    width: 35%;
    .Search_area{
        display: flex;
        background-color: #fff;
        width: 100%;
        margin: 40px 3%;
        &input[type='text'] {
            width: 100%;
            padding: 0.3em;
            box-sizing: border-box;
            transition: 0.3s;
            letter-spacing: 1px;
            color: #696969;
            border: none;
            border-bottom: 2px solid #1b2538;
            background: transparent;
        }
        .ef{
            width: 100%;
            & input[type='text']:focus {
                border-bottom: 3px solid #a6ff5d;
                outline: none;
            }
        }
        .Search_form{
            width: 100%;
            background-color: #fff;
            color: #000;
            line-height: 33px;
            height: 33px;
            &::placeholder{
                color: #696969;
                font-size: 0.5em;
            }
        }
    }
    .Navigation_area{
        .List{
            padding: 5px 8px;
            margin : 5px 0;
        }
        .List:hover{
            background-color: #a6ff5d;
            color: #333333;
            border-radius: 8px;
        }
        .Border_line_grey{
            margin: 10px 0;
            border :1px solid #ffffffa2;
        }
    }
}