//###
//# extends styles

._extends_header_title_style{
    padding: 10px 15px;
    font-size: 22px;
    border-radius: 12px;
    background-color: #b2b2b2;
}

.Article_wrap{
  width: 65%;
  padding: 40px 30px;
}

.Article_title_wrap{
  .Article_title{
    @extend ._extends_header_title_style;
  }
}

.Article_summary_wrap{
  .Article_summary{
    @extend ._extends_header_title_style;
  }
}

.Article_tags_wrap{
  .Article_tags{
    @extend ._extends_header_title_style;
  }

  .Article_tag_wrap{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    .Article_tag{
      padding: 10px;
      margin: 5px;
      border-radius: 15px;
      background-color: #ddffb8;
    }
  }

}

.Article_nutrition_wrap{
  .Article_nutrition{
    @extend ._extends_header_title_style;
  }
}

.Article_news_wrap{
  .Article_news{
    @extend ._extends_header_title_style;
  }
}

.Article_context{
  margin: 30px 0;
}

.context_in_100g{
  margin-top: 30px;
}